<div class="w-full md:w-2/5 p-4">
  <app-card class="bg-white rounded-lg shadow-md">
    <card-title class="bg-purple-600 text-white py-2 px-4 rounded-t-lg">
      <h4 class="text-lg font-bold">Login Here</h4>
    </card-title>
    <card-body class="p-4">
      <form action="" class="space-y-4">
        <div class="form-group mb-3">
          <label for="" class="form-label block text-sm">Email Address <span>*</span></label>
          <input
            type="email"
            name=""
            id=""
            class="form-control w-full p-2 border border-gray-300 rounded-md"
            placeholder="Email Address"
          />
        </div>
        <div class="form-group mb-3">
          <label for="" class="form-label block text-sm">Password <span>*</span></label>
          <input
            type="password"
            name=""
            id=""
            class="form-control w-full p-2 border border-gray-300 rounded-md"
            placeholder="Password"
          />
        </div>
        <button routerLink="/compose" class="btn btn-purple w-full" type="submit">Login</button>
      </form>
    </card-body>
  </app-card>
</div>
