<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 p-4">
  <div class="sm:col-span-1 lg:col-span-1">
    <app-sidebar></app-sidebar>
  </div>
  <div class="sm:col-span-1 lg:col-span-3">
    <app-card>
      <card-title>
        <h4 class="text-lg font-bold">Messages</h4>
      </card-title>
      <card-body>
        <div class="border-b border-gray-200">
          <app-message-item></app-message-item>
          <app-message-item></app-message-item>
          <app-message-item></app-message-item>
          <app-message-item></app-message-item>
          <app-message-item></app-message-item>
        </div>
      </card-body>
    </app-card>
  </div>
</div>
