<div class="py-4 px-2 font-bold hover:bg-gray-100 cursor-pointer border-t border-gray-200">
  <div class="flex items-center group flex-col sm:flex-row">
    <div class="flex-shrink-0 mb-2 sm:mb-0 sm:mr-4">
      <span class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-gray-300">GB</span>
    </div>
    <div class="flex-1 sm:text-center"> <!-- Added sm:text-center -->
      <div class="text-sm text-gray-900">Gowri Bharadwaj</div>
      <div class="text-sm font-normal text-gray-500 truncate">
        What are the updates for the current project?
      </div>
    </div>
    <div class="text-xs text-gray-500 mt-2 sm:mt-0 sm:ml-3">
      3 days ago
    </div>
    <div class="font-normal hidden group-hover:inline-flex mt-2 sm:mt-0 sm:mx-3">
      <i class="ri-delete-bin-6-fill ri-lg text-red-600"></i>
    </div>
  </div>
</div>
